<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="lazy-import" href="/src/my-icons.html">
<link rel="lazy-import" href="/src/my-login.html">
<link rel="lazy-import" href="/src/my-view2.html">
<link rel="lazy-import" href="/src/my-view404.html">
<link rel="lazy-import" href="/src/my-home.html">
<link rel="lazy-import" href="/src/my-ayuda.html">
<link rel="lazy-import" href="/src/my-cuentas.html">
<link rel="lazy-import" href="/src/my-logout.html">
<link rel="lazy-import" href="/src/my-registro.html">
<link rel="lazy-import" href="/src/my-cuentaslist.html">

<link rel="stylesheet" href="/css/mystyles.css">

<dom-module id="my-app">
  <template>
    <style>
       :host {
        --app-primary-color: #4285f4;
        --app-secondary-color: black;
        --app-drawer-width: 100px;


        display: block;
      }

      /*app-drawer {
        --app-drawer-scrim-background: rgba(120,180,0,250);
      }*/

      app-drawer-layout:not([narrow]) [drawer-toggle] {
        display: none;

      }

      app-header {
        color: #fff;
        background-color: var(--app-primary-color);
      }

      app-header paper-icon-button {
        --paper-icon-button-ink-color: white;
      }

      .drawer-list {
        margin: 0 20px;
      }

      .drawer-list a {
        display: block;
        padding: 0 16px;
        text-decoration: none;
        color: var(--app-secondary-color);
        line-height: 40px;
      }

      .drawer-list a.iron-selected {
        color: black;
        font-weight: bold;
      }

      :host {
        display: block;
        padding: 10px;
        }

    </style>
    <!--iron-ajax
              id="obtenerInfo"
              url="http://localhost:3000/v1/cliente"
              handle-as="json"
              method = "GET"
              on-response="mostrarInfo"
    ></iron-ajax-->
    <iron-ajax
              id="obtenerCuentas"
              url="http://localhost:3000/v1/cliente"
              handle-as="json"
              method = "GET"
              on-response="mostrarCuentas"
    ></iron-ajax>

    <iron-ajax id="obtenerMovimientos"
               url="http://localhost:3000/v1/cliente/movimientos"
               handle-as="json"
               method = "GET"
               on-response="mostrarMovimientos">
    </iron-ajax>

    <!--iron-ajax id="validaUsuario"
            url="http://localhost:3000/v1/cliente/registro"
            method="GET"
            on-response="mostrarValida">
    </iron-ajax>
    <iron-ajax id="registroUsuario"
            url="http://localhost:3000/v1/usuario/registro"
            method="POST"
            on-response="mostrarRegistro">
    </iron-ajax-->

    <iron-ajax id="validaLogout"
            url="http://localhost:3000/v1/usuario/logout"
            method="POST"
            on-response="mostrarLogout">
    </iron-ajax>

    <h1 > . </h1>


    <br><br>
   <my-cuentaslist cuentas="[[response11.cuentas]]" idcliente="[[idcliente]]"></my-cuentaslist>

    <app-location
        route="{{route}}"
        url-space-regex="^[[rootPath]]">
    </app-location>

    <app-route
        route="{{route}}"
        pattern="[[rootPath]]:page"
        data="{{routeData}}"
        tail="{{subroute}}">
    </app-route>

    <app-drawer-layout fullbleed narrow="{{narrow}}">
      <!-- Drawer content -->
      <app-drawer id="drawer" slot="drawer" swipe-open="[[narrow]]" >
        <app-toolbar>Menu</app-toolbar>
        <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation" activate-event="">
          <!--<a name="view1" href="[[rootPath]]view1">View One</a>-->
          <div class="" hidden={{vllogeado}}>
            <!--a name="view2" href="[[rootPath]]view2">Cuentas</a-->
            <a name="home" href="[[rootPath]]home">Home</a>
          </div>
          <div class="" hidden={{estatus}}>
            <a name="home" href="[[rootPath]]home">Home</a>
            <a name="ayuda" href="[[rootPath]]ayuda">Ayuda</a>
          </div>

        </iron-selector>
      </app-drawer>

      <!-- Main content -->
      <app-header-layout has-scrolling-region>

        <app-header slot="header" condenses reveals effects="waterfall">
          <app-toolbar>
            <paper-icon-button icon="my-icons:menu" drawer-toggle></paper-icon-button>
            <div main-title>Mi Retiro</div>
            </app-toolbar>
        </app-header>

        <div class="field" style="float: right;">
          <d2l-button primary on-click="llamarLogout">Logout</d2l-button>
        </div>

        <!--iron-pages
            selected="[[page]]"
            attr-for-selected="name"
            fallback-selection="view404"
            role="main">
          <my-home name="home" id="home" rootPath=[[rootPath]]></my-home>
          <my-ayuda name="ayuda" id="ayuda" rootPath=[[rootPath]]></my-ayuda>
          <my-login name="login" id="login" etuser="Username" etpassword="Password" etlogin="Iniciar sesión"></my-login>
          <my-registro name="registro" id="registro" etuser="Username" etpassword="Password" ettarjeta="Tarjeta" etnip="Nip" etcpassword="Confirmar Password" etlogin="Registrar"></my-registro>
          <my-view2 name="view2" id="view2"></my-view2>
          <my-logout name="logout" id="logout" nombre="[[nombre]]"></my-logout>
          <my-view404 name="view404" id="view404" ></my-view404>
        </iron-pages>
      </app-header-layout>
    </app-drawer-layout>
  </template-->

  <iron-pages
      selected="[[page]]"
      attr-for-selected="name"
      fallback-selection="view404"
      role="main">
    <my-home name="home" id="home" rootPath=[[rootPath]]></my-home>
    <my-ayuda name="ayuda" id="ayuda" rootPath=[[rootPath]]></my-ayuda>
    <my-login name="login" id="login" etuser="Username" etpassword="Password" etlogin="Iniciar sesión"></my-login>
    <my-registro name="registro" id="registro" etuser="Username" etpassword="Password" ettarjeta="NSS" etnip="Clave" etcpassword="Confirmar Password" etlogin="Registrar"></my-registro>
    <!--my-view1 name="view1" id="view1"></my-view1-->
    <!--my-view2 name="view2" id="view2" estatus=[[estatus]] idcliente=[[idcliente]]></my-view2-->
    <my-view2 name="view2" id="view2"></my-view2>
    <!--my-view2 name="view2" id="view2 rootPath=[[rootPath]]"></my-view2-->
    <my-logout name="logout" id="logout" nombre="[[nombre]]"></my-logout>
    <my-view404 name="view404"></my-view404>
  </iron-pages>
   </app-header-layout>
</app-drawer-layout>
   </template>

  <!--template is="dom-if" if="{{istdd(cuenta)}}">
  <paper-card heading="  [[cuenta.plastico]]" style"height:50px;" image="../images/aforeb.jpg" class="white">
    <div class="card-content" style="">Saldo: $[[cuenta.saldo]]</div>
    <div class="card-actions">
      <paper-button on-click="_openNextDialog">Movimientos</paper-button>
      <paper-dialog>
        <h2>PRESENTACION DE MOVIMIENTOS</h2>
        <table class="table table-striped" hidden$="{{noTengoMovimientos}}">
              <thead>
                <th>Id</th>
                <th>Fecha</th>
                <th>Descripcion</th>
                <th>Importe</th>
                <th>Comercio</th>
                <th>Canal</th>
                <th>Ver detalles</th>
             </thead>
             <tbody>
               <template is="dom-repeat" items="{{movimientos}}" as="mov">
                 <tr>
                   <td>{{mov.idmov}}</td>
                   <td>{{mov.fecha}}</td>
                   <td>{{mov.descripcion}}</td>
                   <td>{{mov.importe}}</td>
                   <td>{{mov.idcomercio}}</td>
                   <td>{{mov.idcanal}}</td>
                   <td><paper-button on-click="_openNextDialog2">Ver Detalle</paper-button>
                   <paper-dialog>
                        <image src="https://maps.googleapis.com/maps/api/staticmap?zoom=16&size=900x600&maptype=roadmap&markers=color:red|label:P|19.440258,-99.184400" ></image>
                        <paper-button on-click="_closeNextDialog2">Close</paper-button>
                     </paper-dialog></td>
                 </tr>
               </template>
             </tbody>
          </table>
          <paper-button on-click="_closeNextDialog">Close</paper-button>
      </paper-dialog>
    </div>
  </paper-card>
</template>

<template is="dom-if" if="{{istdc(cuenta)}}">
<paper-card heading="  [[cuenta.plastico]]" style"height:50px;" image="../images/aforea.jpg" class="white">
  <div class="card-content" style="">Saldo: $[[cuenta.saldo]]</div>
  <div class="card-actions">
    <paper-button on-click="_openNextDialog">Movimientos</paper-button>
    <paper-dialog>
      <h2>PRESENTACION DE MOVIMIENTOS</h2>
      <table class="table table-striped" hidden$="{{noTengoMovimientos}}">
            <thead>
              <th>Id</th>
              <th>Fecha</th>
              <th>Descripcion</th>
              <th>Importe</th>
              <th>Comercio</th>
              <th>Canal</th>
              <th>Ver detalles</th>
           </thead>
           <tbody>
             <template is="dom-repeat" items="{{movimientos}}" as="mov">
               <tr>
                 <td>{{mov.idmov}}</td>
                 <td>{{mov.fecha}}</td>
                 <td>{{mov.descripcion}}</td>
                 <td>{{mov.importe}}</td>
                 <td>{{mov.idcomercio}}</td>
                 <td>{{mov.idcanal}}</td>
                 <td><paper-button on-click="_openNextDialog2">Ver Detalle</paper-button>
                 <paper-dialog>
                      <image src="https://maps.googleapis.com/maps/api/staticmap?zoom=16&size=900x600&maptype=roadmap&markers=color:red|label:P|19.440258,%20-99.184400" ></image>
                      <paper-button on-click="_closeNextDialog2">Close</paper-button>
                   </paper-dialog></td>
               </tr>
             </template>
           </tbody>
        </table>
        <paper-button on-click="_closeNextDialog">Close</paper-button>
    </paper-dialog>
  </div>
  </paper-card>
</template-->


<!--
<img class="card-img-top"
src="https://maps.googleapis.com/maps/api/staticmap?center=[[detalle.ciudad]]&zoom=6&scale=1&size=600x300&maptype=roadmap&format=png&visual_refresh=true" alt="Card image cap">
src="https://maps.googleapis.com/maps/api/staticmap?zoom=16&size=600x300&maptype=roadmap&markers=color:red|label:P|[[latitud]],[[longitud]]">

-->



  <script>
    // Gesture events like tap and track generated from touch will not be
    // preventable, allowing for better scrolling performance.
    Polymer.setPassiveTouchGestures(true);

    class MyApp extends Polymer.Element {
      static get is() { return 'my-app'; }

      static get properties() {
        return {
          page: {
            type: String,
            reflectToAttribute: true,
            observer: '_pageChanged',
          },
          vllogeado: {
            type: Boolean,
            value: true
          },
          estatus: {
            type: Boolean,
            value: false

          },
          idcliente: {
            type: Number
          },
          cuentas: {
            type: Array
          },
          nombre: {
            type: String
          },
          routeData: Object,
          subroute: Object,
          // This shouldn't be neccessary, but the Analyzer isn't picking up
          // Polymer.Element#rootPath
          rootPath: String,
        };
      }

      static get observers() {
        return [
          '_routePageChanged(routeData.page)',
        ];
      }

      ready(){
        super.ready()
        this.$.login.addEventListener('logeado', e => {this.enviarDatosAHijo(e)})
        this.$.view2.addEventListener('logout', e => {this.cambiarDatosAHijo(e)})
        //this.$.logout.addEventListener('logout', e => {this.cambiarDatosAHijo(e)})
        }

      enviarDatosAHijo(e){
        console.info("datos leidos: " + JSON.stringify(e.detail))
        this.estatus=e.detail.logged
        console.info("estatus Logeado")
        console.info(e.detail.logged)
        this.idcliente=e.detail.idcliente
        if (this.estatus) {
          console.info("entre al if")
          console.info(this.estatus)
          //this.vllogeado=false
          //this.vllogeado=false
          //this.page="view2"
          //this.routeData.page = "view2"
          //this.subroute.prefix = "/view2"
          //console.log(this.$0);
          //-console.info("detalle")
          //-console.info(e.detail)
          console.log("Soy tu hijo receptor app " + JSON.stringify(e.detail))
          console.log("estoy en app")
          //-  console.log(e.detail)
          this.idcliente=e.detail.idcliente
          this.idusuario=e.detail.idusuario
          this.vlnombre=e.detail.nombre
          this.$.obtenerCuentas.headers.idcliente=e.detail.idcliente
          console.log(this.idcliente);
          this.$.obtenerCuentas.generateRequest()
          //descomentarice esta linea
          //this.$.view2.procesar(e.detail)
          //this.$.login.addEventListener('logeado', e => {this.enviarDatosAHijo(e)})
          }
          //this.$.view2.procesarDatos(e.detail);
          }
        /*procesarDatos(recibe){
          console.log("Soy tu hijo receptor view2 " + JSON.stringify(recibe))
          this.idcliente=recibe.idcliente
          this.idusuario=recibe.idusuario
          this.vlnombre=recibe.nombre
          this.$.obtenerCuentas.headers.idcliente=recibe.idcliente
          //console.log(this.idcliente);
          this.$.obtenerCuentas.generateRequest()
        }*/
      mostrarCuentas(data){
      console.log(data.detail.response)
      console.log("Mostrarcuentas:"+data.detail.response[0].nombre)
      this.vlnombre = data.detail.response[0].nombre
      this.response11 = data.detail.response[0]
      console.log("vlnombre:"+this.vlnombre)
      console.log("cliente:"+this.idcliente);
      //this.cuentas = null
      this.noTengoCuentas = false
      this.vllogeado=false
      this.page="view2"

    }

      cambiarDatosAHijo(e){
        console.info("cambiar datos Logout:" + JSON.stringify(e.detail))
        this.estatus=e.detail.logged
        this.nombre=e.detail.nombre
        if (!this.estatus) {
          this.vllogeado=true
          this.page="logout"
          //this.routeData.page = "view2"
          //this.subroute.prefix = "/view2"
          //console.log(this.$0);
          //this.$.logout.procesarDatos(e.detail);
        }
      }
      /*mostrarMovimientos(data){
        //console.log(data.detail.response)
        this.movimientos = data.detail.response
        //console.log(this.movimientos)
        this.noTengoMovimientos = false
        console.log("pase por movimientos-app")
      }*/
      /*hacerValida(){
        console.log(this.vluser + this.vltarjeta + this.vlnip + this.vlpassword + this.vlcpassword)
        this.$.validaUsuario.headers.email=this.vluser
        this.$.validaUsuario.headers.plastico=this.vltarjeta
        this.$.validaUsuario.headers.nip=this.vlnip
        this.$.validaUsuario.generateRequest();
        //this.vldetalle=JSON.parse('{"detail":{"estatus":false,"idcliente":0}}')
        // console.log(this.vldetalle);
        //this.dispatchEvent(new CustomEvent('logeado',{detail:{estatus:false}}))
      }
      mostrarValida(data){
        console.log(data.detail.response)
        this.email = data.detail.response[0].email
        this.idcliente = data.detail.response[0].idcliente
        this.nombre = data.detail.response[0].nombre
        if (data.detail.response[0].email == this.vluser) {
          console.log("dentro IF");
          this.vlvalida=false
          this.vllogeado=true
          //this.hacerRegistro()
          //this.vldetalle=JSON.parse('{"detail":{"estatus":'+this.vllogeado+',"idcliente":'+data.detail.response.idcliente+'}}')
          //console.log(this.vldetalle);
          //this.dispatchEvent(new CustomEvent('logeado',{detail:{estatus:true}}))
          //this.dispatchEvent(new CustomEvent('logeado',  this.vldetalle))
        }
      }
      hacerRegistro(){
        console.log(this.vluser + this.vltarjeta + this.vlnip + this.vlpassword + this.vlcpassword)
        this.$.registroUsuario.headers.idcliente=this.idcliente
        this.$.registroUsuario.headers.email=this.email
        this.$.registroUsuario.headers.nombre=this.nombre
        this.$.registroUsuario.headers.password=this.vlpassword
        this.$.registroUsuario.generateRequest();
        //this.vldetalle=JSON.parse('{"detail":{"estatus":false,"idcliente":0}}')
        // console.log(this.vldetalle);
        //this.dispatchEvent(new CustomEvent('logeado',{detail:{estatus:false}}))
      }
      mostrarRegistro(data){
        console.log(data.detail.response)
        this.page="home"
      }*/

      llamarLogout(){
        console.log("llamar Logout OK"+this.idusuario);
        this.$.validaLogout.headers.email=this.idusuario
        this.$.validaLogout.generateRequest();
      }
      mostrarLogout(data){
        console.log("estoy en mostrarLogout")
        console.log(JSON.stringify(data.detail.response));
        this.myResponseU = data.detail.response
          if (this.myResponseU.logout=="false") {
            console.log("dentro de logout ok"+ JSON.stringify(this.myResponseU));
            this.vllogeado=false
            this.vldetalle=JSON.parse('{"detail":{"estatus":'+this.vllogeado+',"nombre":"'+this.myResponseU.nombre+'"}}')
            this.dispatchEvent(new CustomEvent('logout',this.vldetalle))
            this.page="logout"
          }
      }
          _routePageChanged(page) {
        // If no page was found in the route data, page will be an empty string.
        // Default to 'home' in that case.
        console.log("page")
        console.log(page)
        this.page = page || 'home';

        // Close a non-persistent drawer when the page & route are changed.
        if (!this.$.drawer.persistent) {
          this.$.drawer.close();
        }
      }

      _pageChanged(page) {
        // Load page import on demand. Show 404 page if fails
        const resolvedPageUrl = this.resolveUrl('my-' + page + '.html');
        console.log("resolvedPageUrl")
        console.log(resolvedPageUrl)
        Polymer.importHref(
            resolvedPageUrl,
            null,
            this._showPage404.bind(this),
            true);
      }

      _showPage404() {
        console.log("estoy 404")
        this.page = 'view404';
      }
    }

    window.customElements.define(MyApp.is, MyApp);
  </script
</dom-module>
