<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="/src/shared-styles.html">

<dom-module id="my-ayuda">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>
    <h1>Ayuda</h1>
    <div class="card">
            <div class="color1 col-xs-12 col-sm-6 col-md-3">
                <h4 class="visible-lg">Menú Login</h4>
                <p>Si ya eres cliente de Afore BBVA, puedes utilizar la aplicación registrándote. <br></p>
                <p>Si aún no eres cliente de Afore BBVA, favor de acudir a una de nuestras agencias. <br></p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <h4 class="visible-lg">Podrás visualizar los movimientos de:</h4>
                <p> - Aportaciones Patronales Obligatorias</p>
                <p> - Aportaciones Voluntarias del trabajador</p>
                <p> - Aportaciones Obligatorias de Vivienda</p>
            </div>
            </div>
  </template>

  <script>
    class MyAyuda extends Polymer.Element {
      static get is() { return 'my-ayuda'; }
    }

    window.customElements.define(MyAyuda.is, MyAyuda);
  </script>
</dom-module>
