<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../bower_components/iron-collapse/iron-collapse.html">

<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">

<link rel="import" href="../bower_components/paper-input/paper-input.html">


<link rel="import" href="../bower_components/iron-overlay-behavior/iron-overlay-behavior.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../bower_components/iron-demo-helpers/demo-snippet.html">
<link rel="import" href="../bower_components/iron-demo-helpers/demo-pages-shared-styles.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/d2l-button/d2l-button.html">
<link rel="import" href="/src/simple-overlay.html">


<script src="../bower_components/webcomponentsjs/webcomponents-lite.js"></script>
<link rel="import" href="../bower_components/iron-collapse-button/iron-collapse-button.html">

<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="../bower_components/brainy-table/brainy-table.html">



<dom-module id="my-cuentas">
  <template>
    <style>
      .heading {
        padding: 10px 15px;
        margin-top: 10px;
        background-color: #f3f3f3;
        border: 1px solid #dedede;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        font-size: 18px;
        cursor: pointer;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        width: 100%;
        text-align: top;
      }
      .content {
        padding: 10px;
        border: 1px solid #dedede;
        border-top: none;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        @apply(--shadow-elevation-2dp);
      }
    </style>
    <custom-style>
      <style include="demo-pages-shared-styles">
        .flex {
          @apply --layout-flex;
        }
        iron-collapse-button {
          margin: 8px 0;
        }
        ul {
          margin-top: 0;
        }
      </style>
    </custom-style>
    <iron-ajax id="obtenerMovimientos"
               url="http://localhost:3000/v1/cliente/movimientos"
               handle-as="json"
               method = "GET"
               on-response="mostrarMovimientos">
    </iron-ajax>

    <iron-ajax id="validaLogout"
            url="http://localhost:3000/v1/usuario/logout"
            method="POST"
            on-response="mostrarLogout">
    </iron-ajax>

    <template>

    <div class="field" style="float: right;">
      <d2l-button primary on-click="llamarLogout">Logout</d2l-button>
    </div>
  </template>

    <template is="dom-if" if="{{istdd(cuenta)}}">
    <paper-card heading=" OBLIGATORIAS " style"height:50px;" image="../images/obligatorias1.jpg" class="white">
      <div class="card-content" style="">Saldo: $[[cuenta.saldo]]</div>
      <div class="card-actions">
        <paper-button on-click="_openNextDialog">Movimientos</paper-button>
        <paper-dialog>
          <h2>MOVIMIENTOS</h2>
          <table class="table table-striped" hidden$="{{noTengoMovimientos}}">
                <thead>
                  <th>Id</th>
                  <th>Fecha</th>
                  <th>Descripcion</th>
                  <th>Importe</th>
                  <th>folio</th>
                  <th>Canal</th>
                  <!--th>Ver detalles</th-->
               </thead>
               <tbody>
                 <template is="dom-repeat" items="{{movimientos}}" as="mov">
                   <tr>
                     <td>{{mov.idmov}}</td>
                     <td>{{mov.fecha}}</td>
                     <td>{{mov.descripcion}}</td>
                     <td>{{mov.importe}}</td>
                     <td>{{mov.idcomercio}}</td>
                     <td>{{mov.idcanal}}</td>
                     <!--td><paper-button on-click="_openNextDialog2">Ver Detalle</paper-button>
                     <paper-dialog>
                          <image src="https://maps.googleapis.com/maps/api/staticmap?zoom=16&size=900x600&maptype=roadmap&markers=color:red|label:P|19.440258,-99.184400" ></image>
                          <paper-button on-click="_closeNextDialog2">Close</paper-button>
                       </paper-dialog></td-->
                   </tr>
                 </template>
               </tbody>
            </table>
            <paper-button on-click="_closeNextDialog">Close</paper-button>
        </paper-dialog>
      </div>
    </paper-card>
  </template>

        <template is="dom-if" if="{{istdc(cuenta)}}">
        <paper-card heading="VOLUNTARIAS " style"height:50px;" image="../images/voluntarias1.jpg" class="white">
          <div class="card-content" style="">Saldo: $[[cuenta.saldo]]</div>
          <div class="card-actions">
            <paper-button on-click="_openNextDialog">Movimientos</paper-button>
            <paper-dialog>
              <h2>MOVIMIENTOS</h2>
              <table class="table table-striped" hidden$="{{noTengoMovimientos}}">
                    <thead>
                      <th>Id</th>
                      <th>Fecha</th>
                      <th>Descripcion</th>
                      <th>Importe</th>
                      <th>folio</th>
                      <th>Canal</th>
                      <!--th>Ver detalles</th-->
                   </thead>
                   <tbody>
                     <template is="dom-repeat" items="{{movimientos}}" as="mov">
                       <tr>
                         <td>{{mov.idmov}}</td>
                         <td>{{mov.fecha}}</td>
                         <td>{{mov.descripcion}}</td>
                         <td>{{mov.importe}}</td>
                         <td>{{mov.idcomercio}}</td>
                         <td>{{mov.idcanal}}</td>
                         <!--td><paper-button on-click="_openNextDialog2">Ver Detalle</paper-button>
                         <paper-dialog>
                              <image src="https://maps.googleapis.com/maps/api/staticmap?zoom=16&size=900x600&maptype=roadmap&markers=color:red|label:P|19.440258,%20-99.184400" ></image>
                              <paper-button on-click="_closeNextDialog2">Close</paper-button>
                           </paper-dialog></td-->
                       </tr>
                     </template>
                   </tbody>
                </table>
                <paper-button on-click="_closeNextDialog">Close</paper-button>
            </paper-dialog>
          </div>
          </paper-card>
    </template>

    <template is="dom-if" if="{{istda(cuenta)}}">
    <paper-card heading=" VIVIENDA " style"height:50px;" image="../images/vivienda1.jpg" class="white">
      <div class="card-content" style="">Saldo: $[[cuenta.saldo]]</div>
      <div class="card-actions">
        <paper-button on-click="_openNextDialog">Movimientos</paper-button>
        <paper-dialog>
          <h2>MOVIMIENTOS</h2>
          <table class="table table-striped" hidden$="{{noTengoMovimientos}}">
                <thead>
                  <th>Id</th>
                  <th>Fecha</th>
                  <th>Descripcion</th>
                  <th>Importe</th>
                  <th>folio</th>
                  <th>Canal</th>
                  <!--th>Ver detalles</th-->
               </thead>
               <tbody>
                 <template is="dom-repeat" items="{{movimientos}}" as="mov">
                   <tr>
                     <td>{{mov.idmov}}</td>
                     <td>{{mov.fecha}}</td>
                     <td>{{mov.descripcion}}</td>
                     <td>{{mov.importe}}</td>
                     <td>{{mov.idcomercio}}</td>
                     <td>{{mov.idcanal}}</td>
                     <!--td><paper-button on-click="_openNextDialog2">Ver Detalle</paper-button>
                     <paper-dialog>
                          <image src="https://maps.googleapis.com/maps/api/staticmap?zoom=16&size=900x600&maptype=roadmap&markers=color:red|label:P|19.440258,%20-99.184400" ></image>
                          <paper-button on-click="_closeNextDialog2">Close</paper-button>
                       </paper-dialog></td-->
                   </tr>
                 </template>
               </tbody>
            </table>
            <paper-button on-click="_closeNextDialog">Close</paper-button>
        </paper-dialog>
      </div>
      </paper-card>
  </template>



<!--
 <img class="card-img-top"
 src="https://maps.googleapis.com/maps/api/staticmap?center=[[detalle.ciudad]]&zoom=6&scale=1&size=600x300&maptype=roadmap&format=png&visual_refresh=true" alt="Card image cap">
 src="https://maps.googleapis.com/maps/api/staticmap?zoom=16&size=600x300&maptype=roadmap&markers=color:red|label:P|[[latitud]],[[longitud]]">

-->


  </template>
  <script>
    Polymer({
      is: 'my-cuentas',
      properties: {
          data: {
            type: Object,
          },
          cuenta: {
            type: Object
          },
          idcliente: {
            type: Number
          },
          imagenTarjeta: {
            type: String
          },
          despliega: {
            type: Boolean,
            value: false
          },
          noTengoMovimientos: {
            type: Boolean,
            value: true
          },
          dialog: {
            type: Object
          },
          dialog2: {
            type: Object
          },
      },
      // Manages the iron-collapse elements
      toggle: function (event) {
        var id = event.currentTarget.getAttribute('ident');
        var collapse = this.$$('iron-collapse[ident="' + id + '"]');
        collapse.toggle();
      },
      istdd: function (cuentas) {
        return this.cuenta.tptarjeta === 'OBL'
              },
      istdc: function (cuentas) {
        return this.cuenta.tptarjeta === 'VOL'
              },
      istda: function (cuentas) {
        return this.cuenta.tptarjeta === 'VIV'
              },

      _openNextDialog: function(event) {
         // assume that the next sibling of the target is an overlay.
         this.dialog = event.target.nextElementSibling;
         this.$.obtenerMovimientos.headers.idcliente=this.idcliente
         this.$.obtenerMovimientos.headers.idcuenta=this.cuenta.idcuenta
         this.$.obtenerMovimientos.generateRequest();
         this.dialog.open();
      },
      _closeNextDialog: function(event) {
         this.dialog.close();
      },
      _openNextDialog2: function(event) {
         // assume that the next sibling of the target is an overlay.
         this.dialog2 = event.target.nextElementSibling;
         this.dialog2.open();
      },
      _closeNextDialog2: function(event) {
         this.dialog2.close();
      },
      mostrarMovimientos(data){
        console.log(data.detail.response)
        this.movimientos = data.detail.response
        console.log(this.movimientos)
        this.noTengoMovimientos = false
        console.log("pase por movimientos")
      },
      llamarLogout(){
        console.log("llamar Logout OK"+this.idusuario);
        this.$.validaLogout.headers.email=this.idusuario
        this.$.validaLogout.generateRequest();
      },
      mostrarLogout(data){
        console.log("estoy en mostrarLogout")
        console.log(JSON.stringify(data.detail.response));
        this.myResponseU = data.detail.response
          if (this.myResponseU.logout=="false") {
            console.log("dentro de logout ok"+ JSON.stringify(this.myResponseU));
            this.vllogeado=false
            this.vldetalle=JSON.parse('{"detail":{"estatus":'+this.vllogeado+',"nombre":"'+this.myResponseU.nombre+'"}}')
            this.dispatchEvent(new CustomEvent('logout',this.vldetalle))
            this.page="logout"
          }
        }

    });
  </script>
</dom-module>
