<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="/src/shared-styles.html">
<link rel="import" href="/src/my-cuentas.html">

<link rel="import" href="../bower_components/iron-overlay-behavior/iron-overlay-behavior.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../bower_components/iron-demo-helpers/demo-snippet.html">
<link rel="import" href="../bower_components/iron-demo-helpers/demo-pages-shared-styles.html">
<link rel="import" href="/src/simple-overlay.html">


<dom-module id="my-cuentaslist">
  <template>
    <style>
      :host {
      }
      .card {
        opacity: 1;
        margin: 24px;
        padding: 16px;
        color: #757575;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
      }
      my-cuentas{
        margin: 10px;
      }
    </style>
    <div class="card">


    <template is="dom-repeat" items="[[cuentas]]" as="cuenta">
      <my-cuentas cuenta=[[cuenta]]
                  idcliente=[[idcliente]]
      ></my-cuentas>
    </template>
  </template>
    </div>
  <script>
    class MyCuentaslist extends Polymer.Element {
      static get is() { return 'my-cuentaslist'; }

      static get properties() {
        return {
          cuentas: {
            type: Array
            },
          idcliente: {
            type: Number
          }
        }
      }
            }

    window.customElements.define(MyCuentaslist.is, MyCuentaslist);
  </script>
</dom-module>
