<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="/src/shared-styles.html">

<!--REFERENCIAS DEL PROYECTO -->
<link rel="stylesheet" href="/css/mystyles.css">
<link rel="import" href="../bower_components/d2l-button/d2l-button.html">
<link rel="import" href="/src/my-contenido.html">


<dom-module id="my-home">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 0px;
        margin-right: 0px;
        margin-left: 0px;
      }
    </style>


      <h1>AFORE BBVA </h1>
      <div class="field" style="float: right;">
        <a name="login" href="[[rootPath]]login"><d2l-button primary >Acceso clientes</d2l-button></a>
        <a name="registro" href="[[rootPath]]registro"><d2l-button>Registro</d2l-button></a>
        <!--a name="logout" href="[[rootPath]]logout"><d2l-button >Logout</d2l-button></a-->
      </div>
        <br>
      <my-contenido></my-contenido>

  </template>

  <script>
    class MyHome extends Polymer.Element {
      static get is() { return 'my-home'; }
    }

    window.customElements.define(MyHome.is, MyHome);
  </script>
</dom-module>
