<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="/src/shared-styles.html">

<!--REFERENCIAS DEL PROYECTO -->
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/d2l-button/d2l-button.html">
<link rel="lazy-import" href="/src/my-home.html">

<dom-module id="my-registro">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
    </style>
    <iron-ajax id="validaUsuario"
            url="http://localhost:3000/v1/cliente/registro"
            method="GET"
            on-response="mostrarValida">
    </iron-ajax>
    <iron-ajax id="registroUsuario"
            url="http://localhost:3000/v1/usuario/registro"
            method="POST"
            on-response="mostrarRegistro">
    </iron-ajax>
    <div class="card">
      <h3>Registro</h3>
      <div class="field">
        <paper-input auto-validate pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}"
                     title="Se necesita username" required label=[[etuser]] type="email" value={{vluser::input}}
                     always-float-label placeholder="example@dominio.com"
        ></paper-input>
      </div>
      <div class="field">
        <paper-input auto-validate pattern="[0-9]*" error-message="Solo los 11 digitos de tu NSS!"
                     title="Se necesita NSS" required type="text" label=[[ettarjeta]] value={{vltarjeta::input}} char-counter maxlength="11"
        ></paper-input>
      </div>
      <div class="field">
        <paper-input auto-validate pattern="[0-9]*" error-message="Solo 4 numeros!"
                     title="Se necesita nip" required type="password" label=[[etnip]] value={{vlnip::input}} char-counter maxlength="4"
        ></paper-input>
      </div>
      <div class="field">
        <p hidden={{vlvalida}} font="2">Tu usuario se ha validado correctamente, favor de introducir un password</p>
      </div>
      <div class="field">
        <paper-input hidden={{vlvalida}} title="Se necesita password"required="required" label=[[etpassword]] type="password" value={{vlpassword::input}}
        ></paper-input>
      </div>
      <div class="field">
        <paper-input hidden={{vlvalida}} title="Se necesita confirmar password"required="required" label=[[etcpassword]] type="password" value={{vlcpassword::input}}
        ></paper-input>
      </div>
      <div class="field" hidden={{vllogeado}}>
        <d2l-button on-click="hacerValida" >Validar</d2l-button>
      </div>
      <div class="field" hidden={{vlvalida}}>
        <d2l-button on-click="hacerRegistro" primary >[[etlogin]]</d2l-button>
      </div>
    </div>
<!--
        <paper-input title="Se necesita tarjeta" required="required" label=[[ettarjeta]] value={{vltarjeta::input}}></paper-input>
        <paper-input title="Se necesita nip" required="required" label=[[etnip]]  value={{vlnip::input}}></paper-input>


        <paper-button hidden={{vllogeado}} raised class="custom indigo" on-click="hacerValida">Validar</paper-button>
        <paper-button hidden={{vlvalida}} raised class="custom indigo" on-click="hacerRegistro">[[etlogin]]</paper-button>
-->
  </template>

  <script>
    class MyRegistro extends Polymer.Element {
      static get is() { return 'my-registro'; }
      static get properties() {
        return {
          etuser: {
            type: String
          },
          ettarjeta: {
            type: String
          },
          etnip: {
            type: String
          },
          etpassword: {
            type: String
          },
          etcpassword: {
            type: String
          },
          etlogin: {
            type: String
          },
          vluser: {
            type: String
          },
          vlpassword: {
            type: String
          },
          vllogeado: {
            type: Boolean,
            value: false
          },
          vldetalle: {
            type: Object
          },
          vlvalida: {
            type:Boolean,
            value:true
          },
          nombre: {
            type: String
          },
          email: {
            type: String
          },
          idcliente: {
            type: String
          }
        }
      }

      static get observers() {
        return [
          '_routePageChanged(routeData.page)',
        ];
      }

      hacerValida(){
        console.log(this.vluser + this.vltarjeta + this.vlnip + this.vlpassword + this.vlcpassword)
        console.log("estoy en hacer valida")
        this.$.validaUsuario.headers.email=this.vluser
        this.$.validaUsuario.headers.plastico=this.vltarjeta
        this.$.validaUsuario.headers.nip=this.vlnip
        this.$.validaUsuario.generateRequest();
        //this.vldetalle=JSON.parse('{"detail":{"estatus":false,"idcliente":0}}')
        // console.log(this.vldetalle);
        //this.dispatchEvent(new CustomEvent('logeado',{detail:{estatus:false}}))
      }
      mostrarValida(data){
        console.log("mostrarValida")
        console.log(data.detail.response[0].email)
        this.email = data.detail.response[0].email
        this.idcliente = data.detail.response[0].idcliente
        this.nombre = data.detail.response[0].nombre
        if (data.detail.response[0].email == this.vluser) {
          console.log("dentro IF valida");
          console.log(data.detail.response[0])
          this.vlvalida=false
          this.vllogeado=true
          //this.hacerRegistro()
          //this.vldetalle=JSON.parse('{"detail":{"estatus":'+this.vllogeado+',"idcliente":'+data.detail.response.idcliente+'}}')
          //console.log(this.vldetalle);
          //this.dispatchEvent(new CustomEvent('logeado',{detail:{estatus:true}}))
          //this.dispatchEvent(new CustomEvent('logeado',  this.vldetalle))
        }
      }
      hacerRegistro(){
        console.log(this.vluser + this.vltarjeta + this.vlnip + this.vlpassword + this.vlcpassword)
        this.$.registroUsuario.headers.idcliente=this.idcliente
        this.$.registroUsuario.headers.email=this.email
        this.$.registroUsuario.headers.nombre=this.nombre
        this.$.registroUsuario.headers.password=this.vlpassword
        this.$.registroUsuario.generateRequest();
        this.vldetalle=JSON.parse('{"detail":{"estatus":false,"idcliente":0}}')
        console.log(this.vldetalle);
        console.log("estoy actualizando")
        //this.dispatchEvent(new CustomEvent('logeado',{detail:{estatus:false}}))
        //this.page="home"
      }
      mostrarRegistro(data){
        console.log(data.detail.response)
        console.log("estoy en registro")
        this.vllogeado=false
        this.page="home"
        console.log("antes de dispatch")
        //this.dispatchEvent(new CustomEvent('logeado',{detail:{estatus:false}}))
        //this.dispatchEvent(new CustomEvent('logeado',  this.vldetalle))
        //this.vllogeado=false
        //this._routePageChanged=home
        console.log("saliendo de mostrar")
      }

      _routePageChanged(page) {
    // If no page was found in the route data, page will be an empty string.
    // Default to 'home' in that case.
    console.log("page")
    console.log(page)
    this.page = page || 'home';

    // Close a non-persistent drawer when the page & route are changed.
    if (!this.$.drawer.persistent) {
      this.$.drawer.close();
    }
  }

  _pageChanged(page) {
    // Load page import on demand. Show 404 page if fails
    const resolvedPageUrl = this.resolveUrl('my-' + page + '.html');
    console.log("resolvedPageUrl")
    console.log(resolvedPageUrl)
    /*Polymer.importHref(
        resolvedPageUrl,
        null,
        this._showPage404.bind(this),
        true);*/
  }
    }
    window.customElements.define(MyRegistro.is, MyRegistro);
  </script>
</dom-module>
