<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="/src/shared-styles.html">

<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/src/my-cuentas.html">
<link rel="import" href="/src/my-cuentaslist.html">
<link rel="import" href="/src/my-logout.html">

<dom-module id="my-view2">
  <template>
    <!--style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
    </style-->

    <iron-ajax
              id="obtenerCuentas"
              url="http://localhost:3000/v1/cliente"
              handle-as="json"
              method = "GET"
              on-response="mostrarCuentas"
    ></iron-ajax>
    <iron-ajax id="validaLogout"
            url="http://localhost:3000/v1/usuario/logout"
            method="POST"
            on-response="mostrarLogout">
    </iron-ajax>

    <!--h1 >Bienvenido: [[vlnombre]]</h1>
  <div class="field" style="float: right;">
      <d2l-button primary on-click="llamarLogout">Logout</d2l-button>
    </div-->

    <br><br>
   <!--my-cuentaslist cuentas="[[response11.cuentas]]" idcliente="[[idcliente]]"></my-cuentaslist-->
 </template>

  <script>
    class MyView2 extends Polymer.Element {
      static get is() { return 'my-view2'; }
      static get properties() {
        return {
            response11: {
              type: Object
            },
            idcliente: {
              type: Number
            },
            vlnombre: {
              type: String
            },
            noTengoCuentas: {
              type: Boolean,
              value: true
            },
            tpcuentas: {
              type: Array
            },
            idusuario: {
              type: String
            },
            vldetalle: {
              type: Object
            },
            myResponseU: {
              type: Object
            }
        }
      }
      procesarDatos(recibe){
        console.log("Soy tu hijo receptor view2 " + JSON.stringify(recibe))
        this.idcliente=recibe.idcliente
        this.idusuario=recibe.idusuario
        this.vlnombre=recibe.nombre
        this.$.obtenerCuentas.headers.idcliente=recibe.idcliente
        console.log("idcliente")
        console.log(recibe)
        console.log(this.idcliente);
        this.$.obtenerCuentas.generateRequest()
      }
      mostrarCuentas(data){
        console.log(data.detail.response)
        console.log("Mostrarcuentas view2:"+data.detail.response[0].nombre)
        //this.vlnombre = data.detail.response[0].nombre
        this.response11 = data.detail.response[0]
        console.log("cliente:"+this.idcliente);

        //this.cuentas = null
        this.noTengoCuentas = false
      }
      llamarLogout(){
        console.log("llamar Logout OK"+this.idusuario);
        this.$.validaLogout.headers.email=this.idusuario
        this.$.validaLogout.generateRequest();
      }
      mostrarLogout(data){
        console.log("estoy en mostrarLogout")
        console.log(JSON.stringify(data.detail.response));
        this.myResponseU = data.detail.response
          if (this.myResponseU.logout=="false") {
            console.log("dentro de logout ok"+ JSON.stringify(this.myResponseU));
            this.vllogeado=false
            this.vldetalle=JSON.parse('{"detail":{"estatus":'+this.vllogeado+',"nombre":"'+this.myResponseU.nombre+'"}}')
            this.dispatchEvent(new CustomEvent('logout',this.vldetalle))

        //console.log(data.detail.response)
        //console.log("Logout correcto de: " )
        //this.myResponseU = data.detail.response
        //if (!this.myResponseU.logged) {
          //this.vldetalle=JSON.parse('{"detail":{"logged":"'+this.myResponseU.logged+'","idcliente":'+this.myResponseU.idcliente+',"idusuario":"'+this.myResponseU.idusuario+'","nombre":"'+this.myResponseU.nombre+'"}}')
          //this.vldetalle=JSON.parse('{"detail":{"logged":"'+this.myResponseU.logged+'","nombre":"'+this.myResponseU.nombre+'"}}')
        //  this.vldetalle=JSON.parse('{"detail":{"logged":'+this.myResponseU.logged+',"nombre":'+this.myResponseU.nombre+'}}')
      //    this.dispatchEvent(new CustomEvent('logout', this.vldetalle))
        }
      }


    }
    window.customElements.define(MyView2.is, MyView2);
  </script>
</dom-module>
